# repo-specific stuff
mycert.pem
mykey.key
*.preds
*.attns
*.png
*.out
*.pdf
*.self_attns
*.enc_dec_attns
*.scores
*.csv
*.tsv
*.eps
*.txt
*.attr
*.pt
\#*#
.DS_Store
data/
/old_results/
/examples
experiments/
/comparison
/stats
/output/
/motifs/
/medium/
/results/
/coding_noncoding_dev_stats/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Tensorboard
runs/
