absl-py==0.8.1
alembic==1.7.5
anykeystore==0.2
apex==0.9.10.dev0
-e git+ssh://git@github.com/josephvalencia/approxISM.git@fb61a757b8b4819507b52d5499ab087b501086cd#egg=approxISM
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==20.3.0
autopage==0.4.0
axial-positional-embedding==0.2.1
backcall==0.2.0
bcbio-gff==0.6.6
beautifulsoup4==4.11.1
biopython==1.78
bioseq2seq @ file:///nfs6/BB/Hendrix_Lab/valejose/bioseq2seq/dist/bioseq2seq-1.0.0-py3-none-any.whl
bleach==3.2.1
Brotli==1.0.7
build==0.8.0
cached-property==1.5.2
cachetools==3.1.1
CAI==1.0.3
captum==0.4.1
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cliff==3.10.0
cloudpickle==2.0.0
cmaes==0.8.2
cmd2==2.3.3
colorlog==6.6.0
ConfigArgParse==0.15.2
ConfigSpace==0.4.21
CPAT==3.0.4
cryptacular==1.5.5
ctranslate2==2.1.0
cycler==0.10.0
Cython==0.29.20
dash==1.14.0
dash-core-components==1.10.2
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
databricks-cli==0.16.2
dataclasses==0.6
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.13
docker==5.0.3
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.3.2
entrypoints==0.3
filelock==3.6.0
Flask==1.1.2
Flask-Compress==1.5.0
fonttools==4.38.0
functorch==0.1.0
future==0.18.2
gast==0.2.2
geocoder==1.38.1
gget==0.27.2
gitdb==4.0.9
GitPython==3.1.26
google-auth==1.8.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.44.0
gunicorn==20.1.0
h5py==2.10.0
hpbandster==0.7.4
hupper==1.9.1
idna==2.8
importlib-metadata==4.10.1
importlib-resources==5.4.0
ipykernel==5.3.4
ipython==7.10.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.14.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.4.0
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.2
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
leidenalg==0.8.4
local-attention==1.4.3
logomaker==0.8
Mako==1.1.6
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.5.3
matplotlib-venn==0.11.7
mistune==0.8.4
mlflow==1.23.0
modisco==0.5.14.1
msgpack==1.0.3
mysql-connector-python==8.0.29
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.11.0
networkx==2.5.1
notebook==6.1.5
numpy==1.21.5
nvidia-co2 @ git+https://github.com/kylemcdonald/nvidia-co2.git@b067343bc43b479eab74eca7206d9ee539bb397a
oauthlib==3.1.0
OpenNMT-py==2.2.0
opt-einsum==3.3.0
optuna==2.10.0
orjson==3.4.3
packaging==21.3
pandas==1.3.5
pandocfilters==1.4.3
parso==0.7.1
PasteDeploy==2.0.1
pathtools==0.1.2
patsy==0.5.2
pbkdf2==1.3
pbr==5.8.0
pep517==0.12.0
pexpect==4.8.0
pickle5==0.0.12
pickleshare==0.7.5
Pillow==9.0.1
pip-tools==6.8.0
pipreqs==0.4.11
plaster==1.0
plaster-pastedeploy==0.7
plotly==4.9.0
prettytable==3.0.0
product-key-memory==0.1.10
prometheus-client==0.9.0
prometheus-flask-exporter==0.18.7
promise==2.3
prompt-toolkit==3.0.6
protobuf==3.19.4
psutil==5.8.0
ptyprocess==0.6.0
py3Dmol==2.0.0.post2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pyfastx==0.6.10
pyfiglet==0.8.post1
Pygments==2.6.1
pygount==1.2.0
pyonmttok==1.31.0
pyparsing==2.4.5
pyperclip==1.8.2
pyramid==1.10.4
pyramid-mailer==0.15.1
Pyro4==4.82
pyrsistent==0.17.3
pysam==0.16.0.1
python-dateutil==2.8.1
python-igraph==0.9.6
python3-openid==3.1.0
pytz==2019.3
PyWavelets==1.2.0
PyYAML==5.4.1
pyzmq==20.0.0
qtconsole==5.2.2
QtPy==2.0.1
querystring-parser==1.2.4
ratelim==0.1.6
ray==1.10.0
redis==4.1.4
reformer-pytorch==1.4.3
repoze.sendmail==4.4.1
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rnasamba==0.2.5
rsa==4.0
scikit-learn==0.22.1
scipy==1.7.3
seaborn==0.12.2
Send2Trash==1.5.0
sentencepiece==0.1.96
sentry-sdk==1.5.6
serpent==1.40
Shapely==1.7.1
shortuuid==1.0.8
six==1.13.0
sklearn==0.0
smmap==5.0.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.12
sqlparse==0.4.2
statsmodels==0.13.2
stevedore==3.5.0
tabulate==0.8.9
tbparse==0.0.7
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
texttable==1.6.3
tomli==2.0.1
torch==1.11.0
torchaudio==0.11.0
torchsparseattn==0.2
torchsummary==1.5.1
torchtext==0.4.0
torchvision==0.11.3
tornado==6.1
tqdm==4.64.0
traitlets==4.3.3
transaction==3.0.0
translationstring==1.3
typing-extensions==3.7.4.3
urllib3==1.25.7
ushuffle==1.1.2
velruse==1.1.1
venusian==3.0.0
waitress==2.1.0
wandb==0.12.10
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.5
websocket-client==1.2.3
Werkzeug==0.16.0
widgetsnbextension==3.5.2
wrapt==1.12.1
WTForms==2.2.1
wtforms-recaptcha==0.3.2
XlsxWriter==3.0.7
yarg==0.1.9
yaspin==2.1.0
zipp==3.4.0
zope.deprecation==4.4.0
zope.interface==4.7.1
zope.sqlalchemy==1.2
